
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.about{
    min-width: 90%;
    height: 75vh;
    margin: 0vw 5% 0vw;
    position:relative; 
    font-size: 25px;
}

.pricing-info:after {
    content: "";
    display: table;
    clear: both;
  }

.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    margin-bottom: 25px;
  }
  
.headshot{
    min-width: 90%;
    height: 75vh;
    object-fit: contain;
}

.text-about{
  font-size: 20px;
}

