*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.contact-form{
    min-width: 100%;
    height: 100vh;
    /*border: dotted #D6BFB4 2vw;*/
    margin: 0vw;
    padding: 5vw ;
    position:relative; 

    font-size: 25px;
    
}

.contact-form input, textarea{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
}

.contact-form textarea{
    height: 15vh;
}

.form-inner{
    margin-top: 5%;
}