:root{
  --main-lighter-color: #EDE4D3;
  --main-middle-color: #D6BFB4;
  --main-darker-color: #d6cea1;
}

img {
    width: 100%;
    object-fit:cover;
}

body {
  background-color: var(--main-lighter-color);
}

.slide-container {
    width: 100%;
    height: 1270px;
    margin-bottom: 100px;
    /*background-color: blue;*/
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: auto;
  }

  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 100%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

  
  .indicator {
    width: 30px;
    color: blue;
    text-align: center;
    cursor: pointer;
    border: 1px blue solid;
  }
  .indicator.active {
    background: #000;
    color: #fff;
  }

.card-container-home {
  margin-top: 50px;
  margin-left: 22px;


  width: 98%;
  height: 500px;

  text-align: center;
  justify-content: center;

  /*background-color: black;*/
}

.card-home {
  background-color: var(--main-lighter-color);
  height: 475px;
  object-fit: cover;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.bottom-bar {
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, var(--main-lighter-color),  var(--main-lighter-color) 75% 50%);
  height: 100px;
  font-size: 1.5rem;
  margin-left: 22px;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 100%;
}

.bottom-pics {
  color: #000;
  height: 60px;
}

.fb-link{
  margin-left: 40%;
}

.email-link{
  margin-right: 45%;
}
