*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.pricing-info{
    min-width: 90%;
    height: 75vh;
    margin: 0vw 5% 0vw;
    position: relative; 

    font-size: 25px;
}

.pricing-info:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }

.bottom-txt{
    display: flex;
    width:100%;
    font-size: 50px;
    padding: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

h2{
    padding: 20px;
}

.bottom-img{
    margin-top: 25px;
}
