
.card-container {
    width: 98%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 25px;
  }
  
.cards {
    background-color: var(--main-lighter-color);
    height:800px;

    display: flex;
    flex-direction: column;
  
    justify-content: space-between;

    font-size: 18px;
  }

.titles{
  font-size: 25px;
  margin-bottom: 25px;
}