:root{
    --main-lighter-color: #EDE4D3;
    --main-middle-color: #D6BFB4;
    --main-darker-color: #d6cea1;
}

.NavbarItems {
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg, var(--main-lighter-color),  var(--main-lighter-color) 75% 50%);
    height: 200px;
    font-size: 1.5rem;
}

.navbar-logo {
    color: #000;
    height: 250px;
    margin-left: 25px;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1/6rem;
}


.nav-menu-left {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 25px;
    list-style: none;
    text-align: left;
    width: 40vw;
    justify-content: end;
}

.nav-menu-right {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 25px;
    list-style: none;
    text-align: left;
    margin-left: 50px;
    width: 40vw;
    justify-content: left;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #ebdbc0;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: #000;
}

.nav-links-mobile {
    display: none;
}


.menu-icon {
    display: none;
}

@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
        z-index: 1;
        opacity: 1;
    }

    .nav-menu-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 400px;
        
        bottom: -100px;
        opacity: 1;
        transition: all 0.5s ease;
        background-color: #ede4d3;
    }

    .nav-menu-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top:-15px;
        z-index: 1;
        opacity: 1;
        margin-top: 200px;
        transition: all 0.5s ease;
        background-color: #ede4d3;
    }


    .nav-menu.active {
        background-color: #ede4d3;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #ebdbc0;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 30%;
        width: 50%;
        

    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #ede4d3;
        background-color: #ede4d3;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #ebdbc0;
        transition: 250ms;

    }

    
}